<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource-variable/inter@5.0.18/index.min.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="bg-white border-b shadow fixed z-10 w-full" x-data="{ open: false }">
            <nav class="mx-auto flex max-w-screen-xl items-center justify-between px-6 py-4 lg:px-8">
                <div class="flex flex-1">
                    <div class="hidden lg:flex lg:gap-x-12">
                        <a href="{{ path('home') }}" class="text-sm font-semibold leading-6 text-gray-900">Accueil</a>
                    </div>
                    <div class="flex lg:hidden">
                        <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" @click="open = true">
                            <twig:ux:icon name="material-symbols:menu" class="h-6 w-6" />
                        </button>
                    </div>
                </div>
                <a href="{{ path('home') }}" class="-m-1.5 p-1.5">
                    <span class="font-bold text-2xl">Ecommerce</span>
                </a>
                <div class="flex flex-1 justify-end gap-4">
                    <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Connexion</a>
                    <a href="{{ path('cart') }}" class="text-sm font-semibold leading-6 text-gray-900">
                        <twig:CartHeader :quantity="cart.quantity" />
                    </a>
                </div>
            </nav>

            <div class="lg:hidden" x-cloak x-show="open"
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
            >
                <div class="fixed inset-0 z-10"></div>
                <div class="fixed inset-y-0 left-0 z-10 w-full overflow-y-auto bg-white px-6 py-4">
                    <div class="flex items-center justify-between">
                        <div class="flex flex-1">
                            <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" @click="open = false">
                                <twig:ux:icon name="material-symbols:close" class="h-6 w-6" />
                            </button>
                        </div>
                        <a href="{{ path('home') }}" class="-m-1.5 p-1.5">
                            <span class="font-bold text-2xl">Ecommerce</span>
                        </a>
                        <div class="flex flex-1 justify-end gap-4">
                            <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Connexion</a>
                            <a href="{{ path('cart') }}" class="text-sm font-semibold leading-6 text-gray-900">
                                <twig:CartHeader :quantity="cart.quantity" />
                            </a>
                        </div>
                    </div>
                    <div class="mt-6 space-y-2">
                        <a href="{{ path('home') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Accueil</a>
                    </div>
                </div>
            </div>
        </header>

        <div class="max-w-screen-xl mx-auto p-6 lg:px-8 pt-24">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
